@import "tailwindcss";

:root {
  --background: #f6fff8;
  --foreground: #000814;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000814;
    --foreground: #f6fff8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}